In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("CompletedDataset.xlsx")
df.head()

,Company Name,CIN Number,BankRupt,PROFIT_T,PROFIT_T-1,PROFIT_T-2,PROFIT_T-3,PROFIT_Diff_t,PROFIT_Diff_t-1,PROFIT_Diff_t-2,...,EBIT_MA_4_T,Current_Diff_T,Current_Diff_T-1,Current_Diff_T-2,Current_PercentChange_T,Current_PercentChange_T-1,Current_PercentChange_T-2,Current_MA_2_T,Current_MA_3_T,Current_MA_4_T
0,A & P EXIM PVT LTD,U51909WB1992PTC057075,0.0,4.166667,3.030303,3.571429,7.142857,1.136364,-0.541126,-3.571429,...,0.044634,-0.019129,0.071799,0.000714,-0.008114,0.031412,0.000313,2.347948,2.327204,2.316653
1,A A INFRAPROPERTIES PRIVATE LIMITED,U45400WB2009PTC136476,0.0,-19490.697670,41.935484,-297.849462,-4.413533,-19532.633154,339.784946,-293.435930,...,-0.033197,-0.090546,0.020508,0.963098,-0.091397,0.021138,136.125200,0.945408,0.953663,0.717016
2,A AND M INSURANCE BROKERS PRIVATE LIMITED,U67200DL2002PTC117353,0.0,5.464481,6.189821,6.202723,6.413994,-0.725340,-0.012902,-0.211271,...,0.149470,0.249924,0.083653,0.228294,0.171885,0.061044,0.199894,1.578985,1.509447,1.417604
3,A S P ENTERPRISES PRIVATE LIMITED,U65900MH1996PTC102048,0.0,33.333333,25.000000,0.000000,0.000000,8.333333,25.000000,0.000000,...,0.001766,-0.185321,3.368695,0.500000,-0.038064,2.245797,0.500000,4.776034,3.684023,3.013017
4,A TO Z FOREX PRIVATE LIMITED,U65999GJ2003PTC043097,0.0,0.105374,-0.077640,0.000000,0.029949,0.183014,-0.077640,-0.029949,...,0.009743,10.663889,-0.313069,-0.037027,6.142400,-0.152778,-0.017748,7.068056,5.395097,4.567875

In [3]:
df["BankRupt"].value_counts()

BankRupt
0.0    47126
1.0      847
Name: count, dtype: int64

In [4]:
df = df.dropna(subset=['BankRupt'], axis=0)

In [5]:
df.isnull().sum()

Company Name                   0
CIN Number                     9
BankRupt                       0
PROFIT_T                       0
PROFIT_T-1                     0
                            ...
Current_PercentChange_T-1    331
Current_PercentChange_T-2    307
Current_MA_2_T                 0
Current_MA_3_T                 0
Current_MA_4_T                 0
Length: 64, dtype: int64

In [6]:
from imblearn.over_sampling import SMOTE
from collections import Counter
from sklearn.impute import SimpleImputer

In [7]:
df = df.drop(['Company Name', 'CIN Number'], axis=1)

In [8]:
#df.head()

In [9]:
# Separate features and target
X = df.drop(columns=['BankRupt'])
y = df['BankRupt']

In [10]:
# Handle missing values (e.g., by imputing the mean for numeric features)
imputer = SimpleImputer(strategy='mean')  # You can change the strategy to 'median' or 'most_frequent'
X_imputed = imputer.fit_transform(X)

In [11]:
# Check the initial class distribution
initial_class_distribution = Counter(y)
print(f"Initial class distribution: {initial_class_distribution}")

Initial class distribution: Counter({0.0: 47126, 1.0: 847})

In [12]:
# Apply SMOTE
smote = SMOTE(sampling_strategy=0.2, random_state=42)
X_resampled, y_resampled = smote.fit_resample(X_imputed, y)

In [13]:
# Check the class distribution after SMOTE
resampled_class_distribution = Counter(y_resampled)
print(f"Resampled class distribution: {resampled_class_distribution}")

Resampled class distribution: Counter({0.0: 47126, 1.0: 9425})

In [14]:
# Combine the resampled data into a DataFrame
df_resampled = pd.DataFrame(X_resampled, columns=X.columns)
df_resampled['BankRupt'] = y_resampled

In [15]:
# Save the resampled dataset to a new Excel file
df_resampled.to_csv("NewResampledFile.csv", index=False)